<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
<head>
 
<meta charset="utf-8" />
<title>Turf Beta - Success!</title>
<link rel="icon" type="image/png" href=""> 
 
<!-- Balises meta : SEO -->
<meta name="author" content="Turf" />
<meta name="keywords" content="" />
<meta name="description" content="" />
 
<!-- Balises meta : Facebook Sharing -->
<meta property="og:title" content="Turf" /> 
<meta property="type" content="Landing Page" /> 
<meta property="og:url" content="" /> 
<meta property="og:description" content="" />  
<meta property="og:image" content="" />
 
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/beta/css/style.css">
 
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
 
</head>
 
    <body>
 
        <div id="success">
            <p><span>success!</span><br/>Turf is now downloading<br/>
                on your home screen.</p>
             
        </div>
 
        <div id="download">
            <p>Turf looks like this:</p>
            <div href=""><img src="/beta/css/img/turf.png"></div>
            <p>Turf Beta</p>
             
        </div>
 
        <div id="bottom-2">
            <p>
 
(You’re getting an early release of Turf and there will probably be crashes, downtime, bugs, etc., but don’t ever let life’s barriers get in the way of having fun. xoxoxo)</p>
        </div>
 
        <div id="circle-box">
 
            <div class="circle" id="circle-1"></div>
            <div class="circle" id="circle-2"></div>
            <div class="circle" id="circle-3"></div>
            <div class="circle" id="circle-4"></div>
            <div class="circle" id="circle-5"></div>
            <div class="circle" id="circle-6"></div>
 
        </div>
         
    </body>
 
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/beta/js/main.js"></script>
 
</html>